.Section3 {
  height: 390px;
  width: 100%;
  background: linear-gradient(270deg, #5ed3d0 46.74%, #89a2fb 100%);
  z-index: 1;
}

.trees {
  width: 100%;
  height: 100%;
  background-image: url("../../images/trees.svg");
  display: flex;
  align-items: center;
  justify-content: center;
}

.Section3_innerdiv {
  background: #221f2c;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  height: 60%;
  border-radius: 15px;
}

.Section3_text p {
  color: white;
  font-size: 35px;
  font-weight: 700;
}

.tree {
  background: url("../../images/tree.svg");
  width: 163px;
  height: 284px;
  margin-bottom: 50px;
  z-index: 4;
}

.card1 {
  background: #221f2c;
  width: 302px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1750px;
  right: 370px;
  z-index: 2;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

.card1 img {
    width: 50%;
    height: 50%;
}

.card2 {
  background: url("../../images/card2Rotated.png");
  width: 302px;
  height: 170px;
  border-radius: 10px;
  transform: rotate(-30deg);
}

.card2 img {
  width: 45px;
  height: 45px;
  position: relative;
  right: -235px;
  top: 10px;
}

.card2_text {
    position: relative;
    top: 30px;
    margin-left: 10px;
}

.card2_text h2, .card2_text p {
    background: -webkit-linear-gradient(90deg, #5ed3d0 0%, #83a4f6 50.52%, #8750f3 100%);
    background-clip: text;
  -webkit-text-fill-color: transparent;
}