.Section1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  z-index: 1;
  background: transparent;
}

.Section1_text {
  height: 100%;
  position: absolute;
  top: 216.48px;
  left: 205.68px;
  width: 561.1px;
}

.experience {
  font-weight: 900;
  font-size: 55px;
  line-height: 62px;
  color: #ffffff;
  align-self: center;
  width: 100%;
}

.experience_span {
  font-weight: 900;
  font-size: 56px;
  line-height: 62px;
  background: linear-gradient(90deg, #5ed3d0 0%, #8750f3 40.87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.experience_discover {
  font-weight: 500;
  font-size: 24px;
  line-height: 74px;
  color: #ffffff;
}

.Section1_text button {
  background: linear-gradient(90deg, #5ed3d0 0%, #83a4f6 50.52%, #8750f3 100%);
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  height: 72px;
  width: 240px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 1px 3px rgba(65, 51, 153, 0.25);
  margin-top: 6rem;
}

.Section1_img {
  width: 1040px;
}

.Section1_img img {
  margin-top: -150px;
  width: 100%;
}
